<html>

<head>
  <title>FERTIBIZ : Add Market Insight </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/app.css" />
</head>

<body class="inside-theme">

  <div class="theme-wrapper">
    <div class="navigation"></div>
    <div class="content">
      <div class="content-bg">
        <div class="right-header">
          <h1>Add Market Insight</h1>
          <ul id="right-nav"></ul>
        </div>

        <div class="right-content">
          <div class="custom-table form heading-wrapper theme-form">
            <div class="zone-profile">
              <div class="month-year-dropdown">
                <div class="form-group">
                  <select id="cmbMonth" class="form-control disabled">
                    <option value="">---- Select Month ----</option>
                    <option value="1">Jan</option>
                    <option value="2">Feb</option>
                    <option value="3">Mar</option>
                    <option value="4">Apr</option>
                    <option value="5">May</option>
                    <option value="6">Jun</option>
                    <option value="7">Jul</option>
                    <option value="8">Aug</option>
                    <option value="9">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                  </select>
                </div>
                <div class="form-group">
                  <select id="cmbYear" class="form-control disabled">
                    <option value="">---- Select Year ----</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                  </select>
                </div>
              </div>
              <div class="centreName-dr-name-wrapper">
                <div class="text-center zone-manager">
                  <span>Centre Name</span>
                  <div><b id="centreName"></b></div>
                </div>
                <div class="text-center rbm-wrapper">
                  <div><span>Doctor Name</span> </div>
                  <ul class="rbmm-list">
                    <li><b id="drName"></b></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="text-right">
              <a href="javascript:void(0);" onclick="goBack()" class="btn btn-default btn-grad go-back">Go Back</a>
            </div>
          </div>
          <form class="theme-form">

            <div class="row rejected-comment hide">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p id="rejectedCommentTxt"></p>
              </div>
            </div>

            <div class="row">

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p id="rejectedComment" class="rejected"><b></b></p>
                <div class="form-group">
                  <p>Does the IVF clinic also practice obstetrics & deliver babies in their premises?</p>
                  <div class="radio">
                    <label><input type="radio" name="obstetricsRadio" value="yes">Yes</label>
                    <label><input type="radio" name="obstetricsRadio" value="no">No</label>
                  </div>
                </div>

                <div class="form-group">
                  <label for="donotTxt">Total No of Fresh stimulated Cycles per month</label>
                  <input type="number" class="form-control" id="AnswerTwo" name="AnswerTwo" placeholder="1000"
                    disabled />
                </div>

                <table class="table table-data shadow">
                  <thead>
                    <tr>
                      <th>Gonadotropins</th>
                      <th>% SHARE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>R-FSH</td>
                      <td>
                        <div><input type="number" class="form-control" id="answerThreeRFSH" name="answerThreeRFSH"
                            required="" value="50" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>HMG</td>
                      <td>
                        <div><input type="number" class="form-control" id="answerThreeHMG" name="answerThreeHMG"
                            required="" value="50" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <table class="table table-data shadow">
                  <thead>
                    <tr>
                      <th>Luteal Phase support</th>
                      <th>% SHARE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Progesterone</td>
                      <td>
                        <div><input type="number" class="form-control" id="answerProgesterone" name="answerProgesterone"
                            required="" value="33" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Dydrogesterone</td>
                      <td>
                        <div><input type="number" class="form-control" id="answerFiveDydrogesterone"
                            name="answerFiveDydrogesterone" required="" value="33"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57" /></div>
                      </td>
                    </tr>
                    <tr>
                      <td>Combination (Progesretone+Dydrogesterone)</td>
                      <td>
                        <div><input type="number" class="form-control" id="answerFiveCombination"
                            name="answerFiveCombination" required="" value="33"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57" /></div>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>


              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <table class="table table-data shadow">
                  <thead>
                    <tr>
                      <th>Trigger Protocol</th>
                      <th>% SHARE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>R-HCG</td>
                      <td>
                        <div><input type="number" class="form-control" id="answerFourRHCG" name="answerFourRHCG"
                            required="" value="20" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>U-HCG</td>
                      <td>
                        <div><input type="number" class="form-control" id="answerFourUHCG" name="answerFourUHCG"
                            required="" value="20" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Only Agonist-Leuprolide</td>
                      <td>
                        <div><input type="number" class="form-control" id="answerFourAgonistL" name="answerFourAgonistL"
                            required="" value="20" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Only Agonist-Triptorelin</td>
                      <td>
                        <div><input type="number" class="form-control" id="answerFourAgonistT" name="answerFourAgonistT"
                            required="" value="20" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Dual Trigger (R-HCG + Triptorelin)</td>
                      <td>
                        <div><input type="number" class="form-control" id="answerFourRHCGTriptorelin"
                            name="answerFourRHCGTriptorelin" required="" value="20"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57" /></div>
                      </td>
                    </tr>
                    <tr>
                      <td>Dual Trigger (R-HCG + Leuprolide)</td>
                      <td>
                        <div><input type="number" class="form-control" id="answerFourRHCGLeuprolide"
                            name="answerFourRHCGLeuprolide" required="" value="20"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57" /></div>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>

              <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group add-input-wrapper hideApproveChk">
                    <input type="checkbox" value="on" id="chkApproved" name="chkApproved" onclick="enableApproveButton()" />
                      &nbsp;
                    <label for="lblChkApproved">Check to Approved the Potential</label>
                  </div>
                </div> -->

            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="checkbox">
                  <p>
                    <label><input type="checkbox" value="" id="chkConfirm" name="chkConfirm">I confirm that the data
                      provided by me is correct to the best of my knowledge. I accept full responsibility for the
                      accuracy of this information.</label>
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="two-btn-wrapper two-btn-wrapper-potential">
                  <button type="reset" class="btn btn-default btn-grad" id="resetBtn">Reset</button>
                  <button type="button" class="btn btn-default btn-grad loader-btn-wrapper"
                    onclick="validateMe();return false;" id="saveBtn">
                    <img src="../../img/loader.gif" alt="ivf loader" class="img-responsive loader-img"> Submit Data
                  </button>
                  <!-- <button class="btn btn-default btn-grad" id="btnApprove" disabled="true"  onclick="approveMe();return false;">Approve</button> -->
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="loader"><img src="../../img/loader.gif" alt="ivf loader" class="img-responsive" /></div>
  <div class="menu-overlay"></div>-->

  <div class="menu-overlay"></div>
  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/common.js"></script>
  <script src="../../js/axios.min.js"></script>
  <script src="../../js/bootstrap.min.js"></script>
  <script src="../../js/admin.js"></script>
  <script src="../../js/marketInsight.js"></script>
  <script>
    $(function () {
      getMarketInsightDetails();
    });
  </script>
</body>

</html>