<html>

<head>
  <title>FERTIBIZ : Account Mapping List </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/app.css" />
</head>

<body class="inside-theme">

  <div class="theme-wrapper">
    <div class="navigation"></div>
    <div class="content">
      <div class="content-bg">
        <div class="right-header">
          <h1>Account Mapping</h1>
          <ul id="right-nav"></ul>
        </div>
        <div class="right-content">
          <table class="table table-data hospital-table hospital-table" id="myTable01">
            <thead>
              <tr>
                <th>Account Name</th>
                <th>Centre Name</th>
                <th>IVF Core</th>
                <th>Potential</th>
                <th>Market Insight</th>
                <th>Business</th>
                <th>Competiton</th>
                <th>Rate Contract Status</th>
                <th>View Profile</th>
              </tr>
            </thead>
            <tbody id="centerList"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="loader">
    <img src="../../img/loader.gif" alt="ivf loader" class="img-responsive" />
  </div>

  <div class="menu-overlay"></div>


  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/common.js"></script>
  <script src="../../js/axios.min.js"></script>
  <script src="../../js/bootstrap.min.js"></script>
  <script src="../../js/admin.js"></script>
  <script src="../../js/hospitals.js"></script>
  <script>
    $(function () {
      getMyHospitalList();
    });
  </script>
</body>

</html>