<!DOCTYPE html>
<html lang="en">

<head>
  <title>Add Employee</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="../../js/common.js"></script>
  <script src="../../js/axios.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
  <div id='lblMsg'> </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6"><strong>Add Employee</strong></div>
      <div class="col-lg-6 text-right"><a href="list.html" class="btn btn-success">Back</a></div>
    </div>
    <form onsubmit="validateMe();return false;">
      <div class="form-group">
        <label for="combzone">Select Zone</label>
        <select class="form-control" id="cmbZone">
          <option value="0">----Select----</option>
          <option value="2">East</option>
          <option value="3">North</option>
          <option value="4">South</option>
          <option value="5">West</option>
        </select>
      </div>

      <div class="form-group">
        <label for="combstate">Select State</label>
        <input type="hidden" class="form-control" id="txtStateId" value="">
        <select class="form-control" id="cmbState">
          <option>Up</option>
          <option>Maharashtra</option>
          <option>Bengal</option>
        </select>
      </div>

      <!-- <div class="form-group">
        <label for="combcity">Select City</label>
        <select class="form-control" id="combcity">
          <option>Mumbai</option>
          <option>Chennai</option>
        </select>
      </div> -->

      <div class="form-group">
        <label for="txtHqCodelbl">HQ Code</label>
        <input type="text" class="form-control" id="txtHqCode">
      </div>

      <div class="form-group">
        <label for="empnumbertext">Emp Number</label>
        <input type="number" class="form-control" id="txtEmpNumber">
      </div>

      <div class="form-group">
        <label for="firstnametext">First Name</label>
        <input type="text" class="form-control" id="txtFirstName">
      </div>

      <!-- <div class="form-group">
        <label for="lastnametext">Last Name</label>
        <input type="text" class="form-control" id="lastnametext">
      </div> -->

      <div class="form-group">
        <label for="designationcomb">Select Designation</label>
        <input type="hidden" class="form-control" id="txtDesignation">
        <select class="form-control" id="cmbDesignation">
         
        </select>
      </div>

      <div class="form-group">
        <label for="hqname">HQ Name</label>
        <input type="text" class="form-control" id="txtHqName">
      </div>

      <div class="form-group">
        <label for="regiontext">Region</label>
        <input type="text" class="form-control" id="txtRegion">
      </div>

      <div class="form-group">
        <label for="dob">Date</label>
        <input type="text" class="form-control" id="txtDOJ">
      </div>

      <div class="form-group">
        <label for="mobtext">Mobile Number</label>
        <input type="text" class="form-control" id="txtMobile">
      </div>

      <div class="form-group">
        <label for="emailtext">Email Address</label>
        <input type="email" readonly ='true' class="form-control" id="txtEmail">
      </div>

      <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" id="txtPassword">
      </div>

      <div class="checkbox">
        <label><input type="checkbox" id="chkDisable" value="0">Disabled</label>
      </div>
      <div class="form-group" id="dvOldComments">
        <label for="comment">Old Comment</label>
        <textarea class="form-control" readonly rows="5" id="txtComment"></textarea>
      </div>
      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea class="form-control" rows="5" id="txtNewComment"></textarea>
      </div>

      <button type="submit" class="btn btn-default">Submit</button>

    </form>
  </div>

  <div class="menu-overlay"></div>

  <script src="../../js/employees.js"></script>
  <script>
    $(function () {
      // console.log( "ready!" );

      getEmployeeDetails();
    });
  </script>
</body>

</html>