<html>

<head>
  <title>FERTIBIZ : View Performace </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/app.css" />
</head>

<body class="inside-theme">

  <div class="theme-wrapper">
    <div class="navigation"></div>
    <div class="content">
      <div class="content-bg">
        <div class="right-header">
          <h1>View Profile</h1>
          <ul id="right-nav"></ul>
        </div>

        <div class="right-content">
          <div class="custom-table form heading-wrapper theme-form">
            <div class="zone-profile">
              <div class="month-year-dropdown">
                <div class="form-group">
                  <select id="cmbMonth" class="form-control disabled">
                    <option value="">---- Select Month ----</option>
                    <option value="1">Jan</option>
                    <option value="2">Feb</option>
                    <option value="3">Mar</option>
                    <option value="4">Apr</option>
                    <option value="5">May</option>
                    <option value="6">Jun</option>
                    <option value="7">Jul</option>
                    <option value="8">Aug</option>
                    <option value="9">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                  </select>
                </div>
                <div class="form-group">
                  <select id="cmbYear" class="form-control disabled">
                    <option value="">---- Select Year ----</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                  </select>
                </div>
              </div>
              <div class="centreName-dr-name-wrapper centreName-dr-name-wrapper-3">
                <div class="text-center zone-manager ">
                  <span>Centre Name</span>
                  <div><b id="centreName"></b></div>
                </div>
                <div class="text-center rbm-wrapper">
                  <div><span>City Name</span> </div>
                  <ul class="rbmm-list">
                    <li><b id="stateName"></b></li>
                  </ul>
                </div>

                <!-- <div class="text-center rbm-wrapper">
                  <div><span>Rate Contract</span> </div>
                  <ul class="rbmm-list">
                    <li><b id="rcStatus"></b></li>
                  </ul>
                </div> -->

              </div>
            </div>
            <div class="text-right">
              <a href="javascript:void(0);" onclick="goBack()" class="btn btn-default btn-grad go-back">Go Back</a>
            </div>
          </div>

          <div class="theme-form view-profile-wrapper">
            <div class="row">
              <div class="col-lg-6 com-md-6 col-sm-6 col-xs-12">
                <h2>Customer Master Detail</h2>
                <div class="table-responsive">
                  <table class="table table-data shadow">
                    <thead>
                      <tr>
                        <th>Customer Name</th>
                        <th>Speciality</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody id="customerList"></tbody>
                  </table>
                </div>

              </div>
              <div class="col-lg-6 com-md-6 col-sm-6 col-xs-12">
                <h2>Over All Potential</h2>
                <div class="table-responsive">
                  <table class="table table-data shadow">
                    <thead>
                      <tr>
                        <th>IUI Cycles</th>
                        <th>IVF Cycles</th>
                        <th>Fresh Pick-Ups</th>
                        <th>Frozen Transfers</th>
                        <th>Self Cycles</th>
                        <th>Donor Cycles</th>
                        <th>Agonist Cycles</th>
                        <th>Antagonist Cycles</th>
                      </tr>
                    </thead>
                    <tbody id="potentialList"></tbody>
                  </table>
                </div>

              </div>

              <div class="col-lg-6 com-md-6 col-sm-6 col-xs-12">
                <h2>Over All Business</h2>
                <div class="table-responsive">
                  <table class="table table-data shadow">
                    <thead>
                      <tr>
                        <th>Brand Name</th>
                        <th>Total Business</th>
                      </tr>
                    </thead>
                    <tbody id="businessList"></tbody>
                  </table>
                </div>

              </div>

              <div class="col-lg-6 com-md-6 col-sm-6 col-xs-12">
                <h2>Over All Competition</h2>
                <div class="table-responsive">
                  <table class="table table-data shadow">
                    <thead>
                      <tr>
                        <th>Brand Name</th>
                        <th>Group Name</th>
                        <th>Total Qty</th>
                        <th>Total Value</th>
                      </tr>
                    </thead>
                    <tbody id="competitonList"></tbody>
                  </table>
                </div>

              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div class="loader">
    <img src="../../img/loader.gif" alt="ivf loader" class="img-responsive" />
  </div>
  <div class="menu-overlay"></div>

  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/common.js"></script>
  <script src="../../js/axios.min.js"></script>
  <script src="../../js/bootstrap.min.js"></script>
  <script src="../../js/admin.js"></script>
  <script src="../../js/performance.js"></script>
  <script>

    $(document).ready(function () {
      pageSetUp();
    });

  </script>

</body>

</html>