<html>
    <head>
        <title>FERTIBIZ : Add Customer </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/app.css" />
    </head>
<body>
    
  <nav class="navbar" id="header"></nav>

      <main class="container-fluid">
         <h1 class="text-center">Add Customer</h1>
         <div class="text-right">
            <!-- <a href="./customer" class="btn btn-success">Go Back</a> -->
            <a href="javascript:void(0);" onclick="goBack()" class="btn btn-success">Go Back</a>
          </div>
         <div class="form-wrapper">
          <form>
            <div class="row col-wrapper">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <input type="text" class="form-control" id="centerAdminTxt" name="centerAdminTxt" placeholder="Centre Admin" />
                  <div class="img-wrapper">
                    <img src="../../img/plus.png" alt="add input" class="img-responsive" />
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <input type="text" class="form-control" id="ambryTxt" name="ambryTxt" placeholder="Ambryologist" />
                  <div class="img-wrapper">
                    <img src="../../img/plus.png" alt="add input" class="img-responsive" />
                  </div>
                </div>    
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <input type="text" class="form-control" id="purchaseTxt" name="purchaseTxt" placeholder="Purchase Incharge" />
                  <div class="img-wrapper">
                    <img src="../../img/plus.png" alt="add input" class="img-responsive" />
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <input type="text" class="form-control" id="iuipSpecialistTxt" name="iuipSpecialistTxt" placeholder="Iui Specialists" />
                  <div class="img-wrapper">
                    <img src="../../img/plus.png" alt="add input" class="img-responsive" />
                  </div>
                </div>    
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <input type="text" class="form-control" id="headNurseTxt" name="headNurseTxt" placeholder="Ivf Head Nurse" />
                  <div class="img-wrapper">
                    <img src="../../img/plus.png" alt="add input" class="img-responsive" />
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <input type="text" class="form-control" id="assistantTxt" name="assistantTxt" placeholder="Ivf Dr Assistant" />
                  <div class="img-wrapper">
                    <img src="../../img/plus.png" alt="add input" class="img-responsive" />
                  </div>
                </div>    
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <input type="text" class="form-control" id="drCoreTxt" name="drCoreTxt" placeholder="Ivf Dr Core" />
                  <div class="img-wrapper">
                    <img src="../../img/plus.png" alt="add input" class="img-responsive" />
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <select class="form-control" id="comboStatus">
                    <option>Chain Status</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div> 
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="two-btn-wrapper">
                  <button type="reset" class="btn btn-default btn-grad">Reset</button>
                  <button type="submit" class="btn btn-default btn-grad">Save</button>
                </div>
              </div>
            </div>
          </form>
         </div>
      </main>

        <script src="../../js/jquery.min.js"></script>
        <script src="../../js/common.js"></script>
        <script src="../../js/axios.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <script src="../../js/admin.js"></script>

</body>
</html>