<html>

<head>
  <title>FERTIBIZ : Add Customer </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/app.css" />
</head>

<body class="inside-theme">

  <div class="theme-wrapper">
    <div class="navigation"></div>
    <div class="content">
      <div class="content-bg">
        <div class="right-header">
          <h1>Add Customer</h1>
          <ul id="right-nav"></ul>
        </div>

        <div class="right-content">
          <form id="frm1" onsubmit="submitMe();return false;" class="theme-form">

            <div class="text-right">      
              <a href="javascript:void(0);" onclick="goBack()" class="btn btn-default btn-grad go-back">Go Back</a>
            </div>

            <div class="row col-wrapper">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    
                <div class="form-group add-input-wrapper">
                  <label for="txtCode">Centre Code:</label>
                  <input type="text" class="form-control" id="txtCode" name="txtCode" />    
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <label for="txtDoctorName">Doctor Name:</label>
                  <input type="text" class="form-control" id="txtDoctorName" name="txtDoctorName" />              
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <label for="cmbVisitCategory">Visit Category:</label>
                  <select id="cmbVisitCategory" class="form-control">
                  </select>
                  <input type="hidden" class="form-control" id="hidVisitCategory" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <label for="cmbSpecialty">Specialty:</label>
                  <select id="cmbSpecialty" class="form-control">
                  </select>
                  <input type="hidden" class="form-control" id="hidSpecialty" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <label for="txtDoctorUniqueCode">Doctor Unique Code:</label>
                  <input type="text" class="form-control" id="txtDoctorUniqueCode" name="txtDoctorUniqueCode" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <label for="txtEmail">Email:</label>
                  <input type="text" class="form-control" id="txtEmail" name="txtEmail" />              
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <label for="txtMobile">Mobile:</label>
                  <input type="text" class="form-control" id="txtMobile" name="txtMobile" />              
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <label for="txtCenterName">Centre Name:</label>
                  <input type="text" class="form-control" id="txtCenterName" name="txtCenterName" />              
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <label for="txtAddress1">Address 1:</label>
                  <input type="text" class="form-control" id="txtAddress1" name="txtAddress1" />              
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <label for="txtAddress2">Address 2:</label>
                  <input type="text" class="form-control" id="txtAddress2" name="txtAddress2" />              
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <label for="txtLocalArea">Local Area:</label>
                  <input type="text" class="form-control" id="txtLocalArea" name="txtLocalArea" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <label for="txtCity">City:</label>
                  <input type="text" class="form-control" id="txtCity" name="txtCity" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <label for="cmbState">State:</label>
                  <select id="cmbState" class="form-control">
                  </select>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <label for="txtPinCode">PinCode:</label>
                  <input type="text" class="form-control" id="txtPinCode" name="txtPinCode" />
                </div>
              </div>
    
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <label for="txtChemistMapped">Chemist Mapped:</label>
                  <input type="text" class="form-control" id="txtChemistMapped" name="txtChemistMapped" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <label for="cmbChain">Chain:</label>
                  <select id="cmbChain" class="form-control">
                  </select>
                </div>
              </div>
    
              <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <label for="cmbChainAccountType">Chain Account Type</label>
                  <select id="cmbChainAccountType" class="form-control" onchange="CheckContractRate(this);">
                  </select>
                </div>
              </div> -->

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <input type="checkbox" value="on" id="chkDisabled" name="chkDisabled" />
                  &nbsp;
                  <label for="chkDisabled">Check to mark it disabled</label>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper hideApproveChk">
                  <input type="checkbox" value="on" id="chkApproved" name="chkApproved" onclick="enableApproveButton()" />
                  &nbsp;
                  <label for="lblChkApproved">Check to Approved the Master Data</label>
                </div>
              </div>

            </div>
    
            <div class="row">
              <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group add-input-wrapper">
                  <input type="checkbox" value="on" id="chkRc" name="chkRc" onclick="enableContractDate()" />
                  <label for="chkRc">Is Rate Contract Applicable Valid till</label>
                  <input type="text" id="endDate" placeholder="dd-mm-yyyy" disabled>
                </div>
              </div> -->
            </div>
         
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="two-btn-wrapper">
                  <button type="reset" class="btn btn-default btn-grad">Reset</button>
                  <button type="submit" class="btn btn-default btn-grad">Save</button>
                </div>
    
                <div class="approve-btn-wrapper none">
                  <button class="btn btn-default btn-grad" onclick="approveCenterMasterData();return false;" id="btnApprove" disabled="true">Approve</button>
                </div>
    
              </div>
            </div>
            <input type="hidden" class="form-control" id="txtStateId" value="">
            <input type="hidden" class="form-control" id="txtChainId" value="">
            <input type="hidden" class="form-control" id="hidChainAccountType" value="">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-overlay"></div>

  <!-- <nav class="navbar" id="header"></nav>

  <main class="container-fluid">
    <h1 class="text-center">Add Customer</h1>
    <div class="text-right">      
      <a href="javascript:void(0);" onclick="goBack()" class="btn btn-success">Go Back</a>
    </div>
    <div class="form-wrapper">
      <form id="frm1" onsubmit="submitMe();return false;">
        <div class="row col-wrapper">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

            <div class="form-group add-input-wrapper">
              <label for="txtCode">Centre Code:</label>
              <input type="text" class="form-control" id="txtCode" name="txtCode" />    
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group add-input-wrapper">
              <label for="txtDoctorName">Doctor Name:</label>
              <input type="text" class="form-control" id="txtDoctorName" name="txtDoctorName" />              
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group add-input-wrapper">
              <label for="cmbVisitCategory">Visit Category:</label>
              <select id="cmbVisitCategory" class="form-control">
              </select>
              <input type="hidden" class="form-control" id="hidVisitCategory" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group add-input-wrapper">
              <label for="cmbSpecialty">Specialty:</label>
              <select id="cmbSpecialty" class="form-control">
              </select>
              <input type="hidden" class="form-control" id="hidSpecialty" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group add-input-wrapper">
              <label for="txtDoctorUniqueCode">Doctor Unique Code:</label>
              <input type="text" class="form-control" id="txtDoctorUniqueCode" name="txtDoctorUniqueCode" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group add-input-wrapper">
              <label for="txtEmail">Email:</label>
              <input type="text" class="form-control" id="txtEmail" name="txtEmail" />              
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group add-input-wrapper">
              <label for="txtMobile">Mobile:</label>
              <input type="text" class="form-control" id="txtMobile" name="txtMobile" />              
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group add-input-wrapper">
              <label for="txtCenterName">Centre Name:</label>
              <input type="text" class="form-control" id="txtCenterName" name="txtCenterName" />              
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group add-input-wrapper">
              <label for="txtAddress1">Address 1:</label>
              <input type="text" class="form-control" id="txtAddress1" name="txtAddress1" />              
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group add-input-wrapper">
              <label for="txtAddress2">Address 2:</label>
              <input type="text" class="form-control" id="txtAddress2" name="txtAddress2" />              
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group add-input-wrapper">
              <label for="txtLocalArea">Local Area:</label>
              <input type="text" class="form-control" id="txtLocalArea" name="txtLocalArea" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group add-input-wrapper">
              <label for="txtCity">City:</label>
              <input type="text" class="form-control" id="txtCity" name="txtCity" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group add-input-wrapper">
              <label for="cmbState">State:</label>
              <select id="cmbState" class="form-control">
              </select>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group add-input-wrapper">
              <label for="txtPinCode">PinCode:</label>
              <input type="text" class="form-control" id="txtPinCode" name="txtPinCode" />
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group add-input-wrapper">
              <label for="txtChemistMapped">Chemist Mapped:</label>
              <input type="text" class="form-control" id="txtChemistMapped" name="txtChemistMapped" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group add-input-wrapper">
              <label for="cmbChain">Chain:</label>
              <select id="cmbChain" class="form-control">
              </select>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group add-input-wrapper">
              <label for="cmbChainAccountType">Chain Account Type</label>
              <select id="cmbChainAccountType" class="form-control" onchange="CheckContractRate(this);">
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group add-input-wrapper">
              <input type="checkbox" value="on" id="chkRc" name="chkRc" onclick="enableContractDate()" />
              <label for="chkRc">Is Rate Contract Applicable Valid till</label>
              <input type="text" id="endDate" placeholder="dd-mm-yyyy" disabled>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group add-input-wrapper">
              <input type="checkbox" value="on" id="chkDisabled" name="chkDisabled" />
              &nbsp;
              <label for="chkDisabled">Check to mark it disabled</label>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group add-input-wrapper hideApproveChk">
              <input type="checkbox" value="on" id="chkApproved" name="chkApproved" onclick="enableApproveButton()" />
              &nbsp;
              <label for="lblChkApproved">Check to Approved the Master Data</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="two-btn-wrapper">
              <button type="reset" class="btn btn-default btn-grad">Reset</button>
              <button type="submit" class="btn btn-default btn-grad">Save</button>
            </div>

            <div class="approve-btn-wrapper none">
              <button class="btn btn-default btn-grad" onclick="approveCenterMasterData();return false;" id="btnApprove" disabled="true">Approve</button>
            </div>

          </div>
        </div>
        <input type="hidden" class="form-control" id="txtStateId" value="">
        <input type="hidden" class="form-control" id="txtChainId" value="">
        <input type="hidden" class="form-control" id="hidChainAccountType" value="">
      </form>
    </div>
  </main> -->

  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script src="../../js/admin.js"></script>
  <script src="../../js/common.js"></script>
  <script src="../../js/axios.min.js"></script>
  <script src="../../js/bootstrap.min.js"></script>
  <script src="../../js/hospitals.js"></script>
  <script>
    $(function () {
      // console.log( "ready!" );
      getCustomerDetails();
      $("#endDate").datepicker({
        dateFormat: 'd-M-yy'
      });
    });
  </script>
</body>

</html>